
#carte{
    background: rgb(255, 254, 185);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.marker{
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}