<div id="pop-up" class="active-popup">
    
    <h1 class="titre"><span style="color: #A91917;">BIENVENUE</span> <br> SUR <span style="color: #CCC610;">RADAR À BEATS</span></h1>

    <p class="description">
        Le but de ce site est de découvrir de nouvelles musiques et de nouveaux artistes des 4 coins du monde.
        Pour ce fait, il suffit simplement de cliquer à l'endroit souhaité n'importe où sur la carte (sauf les océans, logique).
        <br><br>
        En espérant que le site vous plaise, HF.
        <br><br>
        L'équipe de <span style="color: #A91917;">RadarABeats</span>. 
        <br>(le nom est totalement assumé)
    </p>
    
</div>
