#btn-connexion{

    position: absolute;
    margin-top: 2%;
    right:3%;
    width: 180px;
    height: 40px;
    background-color: #1c1c1c;
    z-index: 5000;
    border-radius: 5px;
    color: #e5e4e4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s;
    transition-delay: 0.3s;

}

#btn-connexion:hover{
    color: #1c1c1c; 
}

#btn-connexion span{
    position: absolute;
}

#btn-connexion .btn-hover{

    width: 0px;
    height: 0px;
    border-radius:50%;
    opacity: 0;
    transition: .4s;

}

#btn-connexion .btn-hover:nth-child(3){

    background-color: #e5e4e4;
    transition-delay: 0.4s;

}

#btn-connexion .btn-hover:nth-child(2){

    border: 2px solid#e5e4e4;
    transition-delay: 0.2s;
    
}

#btn-connexion .btn-hover:nth-child(1){

    border: 2px solid#e5e4e4;
    transition-delay: 0.1s;
    
}

#btn-connexion:hover .btn-hover{
    
    opacity: 1;
    width: 190px;
    height: 190px;
    
}