<div id="menuUp" class="scroll inactive">

    <div id="trigger-btn" class="trigger-btn" (click)="showMenu()">
    </div>

    <div id="close-btn" class="close-btn invisible" (click)="hideMenu()">
    </div>

    <h1 class="titre1">{{songTileService.titre}}</h1>
    <h3 style="color: #CCC610;">{{songTileService.artiste}}</h3>

    <div>
        <a target="_blank" href="{{artisteTwitter}}"><img class="icon" src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>
        <a target="_blank" href="{{artisteInstagram}}"><img class="icon" src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/></a>
        <a target="_blank" href="{{artisteSoundcloud}}"><img class="icon" src="https://img.icons8.com/color/48/000000/soundcloud.png"/></a>
        <a target="_blank" href="{{artisteFacebook}}"><img class="icon" src="https://img.icons8.com/color/48/000000/facebook.png"/></a>
        <a target="_blank" href="{{artisteDeezer}}"><img class="icon" src="https://img.icons8.com/fluency/48/000000/deezer.png"/></a>
        <a target="_blank" href="{{artisteSpotify}}"><img class="icon" src="https://img.icons8.com/color/48/000000/spotify--v1.png"/></a>
        <a target="_blank" href="{{artisteWebsite}}"><img class="icon" src="https://img.icons8.com/ios/50/000000/domain.png"/></a>
    </div>
    

    <div class="lecteur"> 
        <iframe id="videoPlayer" width="420" height="315" [src]="songTileService.videoLink | safe">
        </iframe> 
    </div>


    <h2>{{songTileService.ville}}</h2>
    <h3>({{songTileService.coordonnees}})</h3>

    <h3 class="aPropos">À Propos</h3>
    <p class="description">{{artisteDescription}}</p>

</div>