
.trigger-btn-side{
    background: url(https://cdn.discordapp.com/attachments/520318904170709023/950688606127796254/Burger_copie.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    width: 167px;
    height: 51px;
    text-align: center;
    position: relative;
    align-items: center;
    left: 2%;
    margin-top: 2%;
    transition: .3s;
}

.trigger-btn-side:hover{
    opacity: 1;
    cursor: pointer;
}

#trigger-btn-pre{
    position: fixed;
    z-index: 5000;
}
