
<div id="apropos" class="inactive-categorie">
    <div class="recentre">
        <div id="close-btn-apropos" class="close-btn" (click)="hideAPropos()">
        </div>
        <div id="close-btn-apropos" class="close-btn-mobile" (click)="hideAProposMobile()">
        </div>

        <img src="../../../img/icon-twitter-hov.png" style="display:none" alt="icon twitter">
        <img src="../../../img/icon-instagram-hov1.png" style="display:none" alt="icon instagram">
        <img src="../../../img/icon-linkedin-hov.png" style="display:none" alt="icon linkedin">

        <div class="titre">À PROPOS</div>

        <p class="description">
            <span class="span">RadarABeats</span> est un projet d'étude de 3ème année de licence informatique de 
            l'Université du Mans, développé par Clément, Louis, Nathan et Romain... Le projet consiste 
            à développer une application web avec comme contrainte l'utilisation de différentes APIs.
        </p>

        <div class="titre1">ÉQUIPE</div>

        <hr>

        <div class="centred equipe">
            
            <div class="container-box">
                <div class="containter-content">
                    <div class="pp clement"></div>
                    <p class="container-nom">Clément C.</p>
                    <p class="container-desc">
                        Développeur couché. <br> > Système de connexion, mise en place de la carte.
                    </p>
                    <div class="container-reseaux">
                        <a target="_blank" href="https://www.instagram.com/cleementcoomte/">
                            <div class="instagram box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://twitter.com/clementcoomte/">
                            <div class="twitter box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-comte-2445851a4/">
                            <div class="linkedin box-reseaux"></div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="container-box">
                <div class="containter-content">
                    <div class="pp louis"></div>
                    <p class="container-nom">Louis G.</p>
                    <p class="container-desc">
                        Front-Enderman. <br> > Toute la partie Front. Responsive, charte graphique, animations etc... 
                    </p>
                    <div class="container-reseaux">
                        <a target="_blank" href="https://www.instagram.com/ronteahri/">
                            <div class="instagram box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://www.twitter.com/ronteahri/">
                            <div class="twitter box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://fr.linkedin.com/in/louis-georget/">
                            <div class="linkedin box-reseaux"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-box">
                <div class="containter-content">
                    <div class="pp nathan"></div>
                    <p class="container-nom">Nathan L.</p>
                    <p class="container-desc">
                        Docu-mentaliste <br> > Toute la paperasse, aide à la carte et au back-end.
                    </p>
                    <div class="container-reseaux">
                        <a target="_blank" href="https://www.instagram.com/nathlabbe72/">
                            <div class="instagram box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/nathan-labb%C3%A9-058407200/">
                            <div class="linkedin box-reseaux"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-box">
                <div class="containter-content">
                    <div class="pp romain"></div>
                    <p class="container-nom">Romain L.</p>
                    <p class="container-desc">
                        Dévelop-peur des araignées. <br> > Gestion de la musique (lecteur) et artistes (récupération de données).
                    </p>
                    <div class="container-reseaux">
                        <a target="_blank" href="https://www.instagram.com/romainlaval2/">
                            <div class="instagram box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://www.twitter.com/lavalromain1/">
                            <div class="twitter box-reseaux"></div>
                        </a>
                        <a target="_blank" href="https://fr.linkedin.com/in/romain-laval-7195b7201/">
                            <div class="linkedin box-reseaux"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>