<div id="sidebar" class="inactive">
    <div  style="padding: 1px;"></div>

    <div>   
        <div id="close-btn-side" class="close-btn" (click)="hideSide()">
        </div>
    </div>

    <div class="remplaceClose">
    </div>
    
    <div>
        <img class="logo" src="https://cdn.discordapp.com/attachments/520318904170709023/938858109772890192/Full-Logo.png" alt="logo">
        
        <div id="btn-favoris" class="categorie" (click)="showFavoris()">
            FAVORIS
        </div>
        <div id="btn-favoris" class="categorie-mobile">
            FAVORIS
        </div>

        <div id="btn-apropos" class="categorie" (click)="showAPropos()">
            À PROPOS
        </div>
        <div id="btn-apropos" class="categorie-mobile" (click)="showAProposMobile()">
            À PROPOS
        </div>

        <div id="btn-contacter" class="categorie" (click)="showContacter()">
            RESSOURCES
        </div>
        <div id="btn-contacter" class="categorie-mobile" (click)="showContacterMobile()">
            RESSOURCES
        </div>

        <div class="categorie">
            <a href="mailto:radarabeats@gmail.com" class="mailto">CONTACTER</a>
        </div>
        <div class="categorie-mobile">
            <a href="mailto:radarabeats@gmail.com" class="mailto">CONTACTER</a>
        </div>
        
    </div>

    <div class="copyright">
        © Utema & Stun
    </div>

    <div class="rempli">

    </div>

</div>