#favoris{
    background: #1C1C1C;
    color: #E5E4E4;
    position: absolute;
    z-index: 4000;
    width: 100%;
    height: 100%;
    transition: .3s;
    overflow: hidden;
}

.close-btn{
    background: url(https://cdn.discordapp.com/attachments/520318904170709023/938105617694982154/Cross.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    top: 5%;
    left: 95%;
    margin-bottom: -4%;
    margin-top: 3%;
    padding: 0;
    transition: .3s;
}

.close-btn-mobile{
    display: none;
    margin-bottom: -7%;
    margin-top: 9%;
}

.close-btn:hover{
    cursor: pointer;
}

.titre{
    color: #CCC610;
    font-size: 34px;
    font-weight: 600;
    margin: 3%;
    margin-left: 23%;
    margin-bottom: -.5%;
}

@media screen and (min-width: 415px) and (max-width: 1440px) {
    #favoris{
        background: #1C1C1C;
        color: #E5E4E4;
        position: absolute;
        z-index: 9000;
        width: 100%;
        height: 100%;
        transition: .3s;
        overflow: auto;
        overflow-x: hidden;
        display: block;
    }

    .recentre{
        margin-left: -25%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 415px) {
    #apropos{
        background: #1C1C1C;
        color: #E5E4E4;
        position: absolute;
        z-index: 9000;
        width: 100%;
        height: 100%;
        transition: .3s;
        overflow: auto;
        overflow-x: hidden;
        display: block;
    }
    
    .close-btn{
        display: none;
    }
    
    .close-btn-mobile{
        background: url(https://cdn.discordapp.com/attachments/520318904170709023/938105617694982154/Cross.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 35px;
        height: 35px;
        text-align: center;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 15%;
        padding: 0;
        transition: .3s;
        display: block;
    }

    .close-btn-mobile:hover{
        cursor: pointer;
    }

    .titre{
        color: #CCC610;
        font-size: 28px;
        font-weight: 600;
        margin: 3% 0;
        margin-left: 0;
        text-align: center;
        margin-bottom: -.5%;
    }
    
}

.card-container{

    position: relative;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    width: 60%;
    height: 20%;
    color: white;
    background-color: #333333;
    border-radius: 5px;
    margin: 10px;

}

.info{

    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.video{
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.video iframe{
    position: relative;
    color: white;
    z-index: 10000;
}

.title{
    font-size: 30px;;
    color: #A91917;
}

.artiste{
    font-size: 20px;
    color: #CCC610;
}