#contacter{
    background: #1C1C1C;
    color: #E5E4E4;
    position: absolute;
    z-index: 4000;
    width: 100%;
    height: 100%;
    transition: .3s;
    overflow: hidden;
}

.close-btn{
    background: url(https://cdn.discordapp.com/attachments/520318904170709023/938105617694982154/Cross.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    top: 5%;
    left: 95%;
    margin-bottom: -4%;
    margin-top: 3%;
    padding: 0;
    transition: .3s;
}

.close-btn:hover{
    cursor: pointer;
}

.close-btn-mobile{
    display: none;
    margin-bottom: -7%;
    margin-top: 9%;
}

.titre{
    color: #CCC610;
    font-size: 34px;
    font-weight: 600;
    margin: 3%;
    margin-left: 23%;
    margin-bottom: -.5%;
}

.titre1{
    color: #E5E4E4;
    font-size: 28px;
    font-weight: 600;
    margin: 3%;
    margin-left: 23%;
    margin-bottom: -.5%;
}

.paypal{
    margin-left: 23%;
}

.contacter-btn{
    text-align: center;
}

.p-contacter-btn{
    font-size: 24px;
    color: #E5E4E4;
    background: #333333;
}

.api{
    margin-left: 23%;
    margin-bottom: -.8%;
}

.inline{
    display: inline-block;
}

.api a:hover{
    color: #A91917;
}

.api a:focus{
    color: #A91917;
}

.mobile{
    display: none;
}

.recentre{
    margin-left: 0;
    margin-top: 0;
}


@media screen and (max-width: 415px) {
    .close-btn-mobile{
        background: url(https://cdn.discordapp.com/attachments/520318904170709023/938105617694982154/Cross.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 35px;
        height: 35px;
        text-align: center;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 15%;
        padding: 0;
        transition: .3s;
        display: block;
    }

    .close-btn-mobile:hover{
        cursor: pointer;
    }

    .close-btn{
        display: none;
    } 

    .titre{
        color: #CCC610;
        font-size: 28px;
        font-weight: 600;
        margin: 3% 0;
        text-align: center;
        margin-bottom: -.5%;
    }
    
    .titre1{
        color: #E5E4E4;
        font-size: 24px;
        font-weight: 600;
        margin: 3% 0;
        text-align: center;
        margin-bottom: -.5%;
    }
    
    .paypal{
        margin-left: 50%;
        transform: translate(-50%);
        width: 45%;
    }
    
    .contacter-btn{
        text-align: center;
    }
    
    .p-contacter-btn{
        font-size: 24px;
        color: #E5E4E4;
        background: #333333;
    }
    
    .api{
        text-align: center;
        margin-left: 0;
        margin-bottom: -.8%;
    }

    p{
        font-size: 12px;
    }

    .mobile{
        display: block;
    }
    
    .pc{
        display: none;
    }
}

@media screen and (min-width: 415px) and (max-width: 1440px) {
    #contacter{
        background: #1C1C1C;
        color: #E5E4E4;
        position: absolute;
        z-index: 9000;
        width: 100%;
        height: 100%;
        transition: .3s;
        overflow: hidden;
    }

    .recentre{
        margin-left: -25%;
        margin-top: 3%;
    }
}