
<div id="contacter" class="inactive-categorie">

    <div class="recentre">
        <div id="close-btn-contacter" class="close-btn" (click)="hideContacter()">
        </div>
        <div id="close-btn-contacter" class="close-btn-mobile" (click)="hideContacterMobile()">
        </div>
        
        <div class="titre">RESSOURCES</div>

        <div class="pc">
            <div class="titre1">APIs</div>

            <div class="api">
                <p class="inline">Mapbox :
                    <a class="inline" target="_blank" href="https://docs.mapbox.com/mapbox-gl-js/guides/">https://docs.mapbox.com/mapbox-gl-js/guides/</a>
                </p>
            </div>

            <div class="api">
                <p class="inline">Youtube :
                    <a class="inline" target="_blank" href="https://developers.google.com/youtube/v3">https://developers.google.com/youtube/v3</a>
                </p>
            </div>

            <div class="api">
                <p class="inline">MusicBrainz :
                    <a class="inline" target="_blank" href="https://musicbrainz.org/doc/MusicBrainz_API">https://musicbrainz.org/doc/MusicBrainz_API</a>
                </p>
            </div>
        </div>

        <div class="mobile">
            <div class="titre1">APIs</div>

            <div class="api">
                <p class="inline">
                    <a class="inline" target="_blank" href="https://docs.mapbox.com/mapbox-gl-js/guides/">Mapbox</a>
                </p>
            </div>

            <div class="api">
                <p class="inline">
                    <a class="inline" target="_blank" href="https://developer.spotify.com/documentation/web-api/">Spotify</a>
                </p>
            </div>

            <div class="api">
                <p class="inline">
                    <a class="inline" target="_blank" href="https://musicbrainz.org/doc/MusicBrainz_API">MusicBrainz</a>
                </p>
            </div>
        </div>


        <div class="pc">
            <div class="titre1">GitHub</div>
            <p class="api">
                <a target="_blank" href="https://github.com/ClemStun/RadarABeats">https://github.com/ClemStun/RadarABeats</a>
            </p>

            <div class="titre1">Cahier des charges</div>
            <p class="api">
                <a target="_blank" href="https://docs.google.com/document/d/10omYw_GEmSiN0buHzrdkx3ZbJLzE2Ju_tHPQURK_E3Q/edit?usp=sharing">https://docs.google.com/document/d/10omYw_GEmSiN0buHzrdkx3ZbJLzE2Ju_tHPQURK_E3Q/edit?usp=sharing</a>
            </p>
        </div>

        <div class="mobile">
            <div class="titre1">GitHub</div>
            <p class="api">
                <a target="_blank" href="https://github.com/ClemStun/RadarABeats">GitHub</a>
            </p>

            <div class="titre1">Cahier des charges</div>
            <p class="api">
                <a target="_blank" href="https://docs.google.com/document/d/1B-s4ycvNhz6V5TduIwhidRO61hQBOMzjtxPbraIyRWY/edit?usp=sharing">Cahier des charges</a>
            </p>
        </div>

        <br><br><br>

        <a target="_blank" href="https://www.paypal.me/pokecog/">
            <input type="image" class="paypal" src="https://cdn.discordapp.com/attachments/520318904170709023/948137880239374356/donate.png" border="0" name="submit" title="Business is business - Paypal" alt="Donate with PayPal button">
        </a>
    </div>
</div>