<div id="log-window"class="unactive-log">

    <div id="selection">
        <span id="background-selec" class="choix-left"></span>
        <span id="btn-con" class="choix" (click)="setConnexion(true)">Connexion</span>
        <span id="btn-ins" class="choix" (click)="setConnexion(false)">S'inscrire</span>
    </div>

    
    <form id="connexion-form" class="form-c choix-connexion active-choix">
        
        <span id="error-con" class="inactive-err"></span>
        <input id="pseudo-con" type="text" placeholder="Pseudo">
        <input id="pw-con" type="password" placeholder="Mot de passe">
        <input style="font-family: futuraheavy;" type="button" value="Connexion" (click)="connexion()">
        
    </form>
    
    <form id="enregistrer-form" class="form-c choix-inscription">
        
        <span id="error-ins" class="inactive-err"></span>
        <input id="pseudo-ins" type="text" placeholder="Pseudo">
        <input id="pw-ins" type="password" placeholder="Mot de passe">
        <input id="pwc-ins" type="password" placeholder="Confirmation mot de passe">
        <input style="font-family: futuraheavy;" type="button" value="Inscription" (click)="inscription()">

    </form>

</div>
