<div id="log-window"class="unactive-log">

    <div id="selection">
        <span id="background-selec" class="choix-left"></span>
        <span id="btn-con" class="choix" (click)="setConnexion(true)">Connexion</span>
        <span id="btn-ins" class="choix" (click)="setConnexion(false)">S'inscrire</span>
    </div>

    <form id="connexion-form" class="form-c choix-connexion active-choix">

        <input type="mail" placeholder="E-mail">
        <input type="password" placeholder="Mot de passe">
        <input type="button" value="Valider" (click)="connexion()">

    </form>

    <form id="enregistrer-form" class="form-c choix-inscription">

        <input id="mail-ins" type="mail" placeholder="E-mail">
        <input id="pw-ins" type="password" placeholder="Mot de passe">
        <input id="pwc-ins" type="password" placeholder="Confirmation mot de passe">
        <input type="button" value="Valider" (click)="inscription()">

    </form>

</div>
